html {
    /* Force scrollbar to avoid content jumping when shorter than view port */
    overflow-y: scroll;
}

header, nav, article, footer, aside {
    display: block;
}

label {
    display: block;
}

label.inline {
    display:inline-block;
}

.validate-error {
    display: inline;
    background: #F8E0E0;
}

/* jQuery Tipsy */

.tipsy {
    margin: 0 0 0 7px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.25em;
    background-repeat: no-repeat;
    background-image: url("../img/tipsy.gif");
    opacity: 0.5;
}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: #FFF;
    max-width: 200px;
    text-align: center;
}

.tipsy-inner {
    font-size: 10px;
    padding: 10px;
    display: block;
}

.tipsy-inner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tipsy-north {
    background-position: top center;
}

.tipsy-south {
    background-position: bottom center;
}

.tipsy-east {
    background-position: right center;
}

.tipsy-west {
    background-position: left center;
}

/* Media plugin */

.media-dirs {
    padding-bottom: 20px;
}

.media-dirs-item {
  float: left;
  margin: 0 1px -10px 0;
}

.media-dirs-item a {
  display: block;
}

.media-dirs-item a img {
  background: url("../img/dir-bg.png") no-repeat scroll right bottom transparent;
  padding: 1px 14px 1px 1px;
}

.media-dirs-item-name {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-weight: bold;
  height: 30px;
  padding: 5px;
  position: relative;
  top: -30px;
}

.media-files {
  clear: left;
}

.media-files-lightbox {
  position: relative;
  top: 10px;
}

.media-files-lightbox a {
  border: 1px dotted #CCCCCC;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding :10px;
  vertical-align: middle;
}


/* TinyMCE */

textarea.tinymce {
    font-family: "Arial", Helvetica, sans-serif !important;
}
