html {
    /* Force scrollbar to avoid content jumping when shorter than view port */
    overflow-y: scroll;
}

header, nav, article, footer {
    display: block;
}

label {
    display: block;
}

label.inline {
    display:inline-block;
}

.validate-error {
    display: inline;
    background: #F8E0E0;
}
/* jQuery Tipsy */

.tipsy {
    margin: 0 0 0 7px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.25em;
    background-repeat: no-repeat;
    background-image: url("../img/tipsy.gif");
    opacity: 0.5;
}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: #FFF;
    max-width: 200px;
    text-align: center;
}

.tipsy-inner {
    font-size: 10px;
    padding: 10px;
    display: block;
}

.tipsy-inner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tipsy-north {
    background-position: top center;
}

.tipsy-south {
    background-position: bottom center;
}

.tipsy-east {
    background-position: right center;
}

.tipsy-west {
    background-position: left center;
}

/* TinyMCE */

textarea.tinymce {
    font-family: "Arial", Helvetica, sans-serif !important;
}
