html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia;
  font-size: 11px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.4em;
  line-height: 1.8em;
  margin: 0 0 10px;
}

h2 {
  font-size: 1.8em;
  line-height: 2em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

p, ul, pre {
  margin-bottom: 10px;
}

p, td {
  line-height: 1.4em;
}

a {
  color: #333;
}
a:hover {
  color: #666;
}

h2 a {
  text-decoration: none;
}

ul {

}

ul li ul {
  margin-bottom: 0;
}

li {
  padding: 2px;
  margin: 0 0 0 16px;
  list-style: circle;
}

strong {
  font-weight: bold;
}

pre {
  font-size: 0.8em;
}

fieldset {
  margin-bottom: 10px;
  border: 1px solid #CCC;
  padding: 10px;
}

legend {
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 0 0 10px;
  padding: 4px 10px;
  border: 1px solid #CCC;
}

label {
  color: #666;
  font-size: 0.9em;
}

input {
  padding: 3px 2px;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

textarea {
  width: 95%;
  padding: 3px 2px;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

select {
  padding: 3px 2px;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

button,
input[type=submit],
input[type=button] {
  padding: 3px 2px;
  text-transform: uppercase;
  font-size: 0.9em;
  background-color: #F0F0F0;
  color: #333;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor:pointer;
  cursor:hand;
}
button:hover,
input[type=submit]:hover,
input[type=button]:hover {
  background-color: #CCC;
  color: #FFFFFF;
  border: 1px solid #999;
}

table {
  width: 95%;
}

tbody tr:nth-child(even) {
  background: #FFF
}
tbody tr:nth-child(odd) {
  background: #F0F0F0
}

th, td {
  padding: 3px;
}

th {
  background-color: #CCC;
  text-align: left;
}

td {}

#sitename a {
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 0;
}

#content a {
  font-weight: bold;
}

footer {
  font-size: 0.8em;
}

.mock-thumb {
  width: 240px;
  height: 180px;
  border: 1px solid #999;
  background-color: #CCC;
  float: left;
  margin: 0 10px 10px 0;
}

.unpublished {
  background: #F0F0F0;
}

