html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 11px;
    color: #333;
}

h1 {
    font-size: 2.4em;
    line-height: 1.8em;
}

h2 {
    font-size: 1.8em;
    line-height: 2em;
}

h3 {
    font-size: 1.6em;
    line-height: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

p, ul, pre {
    margin-bottom: 10px;
}

p, td {
    line-height: 1.4em;
}

a {
    color: #333;
}
a:hover {
    color: #666;
}

h2 a {
    text-decoration: none;
}

ul {

}

ul li ul {
    margin-bottom: 0;
}

li {
    padding: 2px;
    margin: 0 0 0 16px;
    list-style: circle;
}

strong {
    font-weight: bold;
}

pre {
    font-size: 0.8em;
}

fieldset {
    margin-bottom: 10px;
}

legend {
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 0 0 10px;
}

label {}

input {
    padding: 5px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

textarea {
    width: 95%;
    padding: 5px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

select {
    padding: 5px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

button,
input[type=submit],
input[type=button] {
    padding: 5px 4px;
    text-transform: uppercase;
    font-size: 0.9em;
    background-color: #FFFFFF;
    color: #CC0000;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
    cursor:hand;
}
button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: #CCC;
    color: #FFFFFF;
    border: 1px solid #999;
}

table {
    width: 95%;
}

tbody tr:nth-child(even) {
    background: #FFF
}
tbody tr:nth-child(odd) {
    background: #F0F0F0
}

th, td {
    padding: 3px;
}

th {
    background-color: #CCC;
}

td {}

div#sitename a {
    font-size: 3em;
    text-decoration: none;
    background-color: #333;
    color: #CCC;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-family: Georgia;
    text-shadow: rgb(255,255,255) 0px 0px 1px;
}

#footer {
    font-size: 0.8em;
}

.mock-thumb {
    width: 240px;
    height: 180px;
    border: 1px solid #999;
    background-color: #CCC;
    float: left;
    margin: 0 10px 10px 0;
}
