div.sysevents ul {
    padding: 0;
    margin: 0;
}

div.sysevents li {
    padding: 0;
    margin: 0;
    list-style:none outside none;
}

div.sysevent {
    border: 1px dotted #CCCCCC;
    margin: 0 0 20px;
}

.sysevents_1 {
    background-color: #F6CECE;
}

.sysevents_2 {
    background-color: #F6E3CE;
}

.sysevents_3 {
    background-color: #CEF6F5;
}

.sysevents_4 {
    background-color: #F5F6CE;
}

.sysevents_5 {
    background-color: #D0F5A9;
}

