div.dashboard-box-outer {}

div.dashboard-box-inner {
    background-color: #F0F0F0;
    border: 1px solid #CCC;
}

div.dashboard-box-inner h3 {
    background-color: #CCC;
    padding: 3px 10px;
    font-size: 1em;
}